{
  "presets": [["latest", { "modules": false }], "react", "stage-0"],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul", {
            "exclude": ["**/*.spec.js"]
          }
        ]
      ]
    }
  },
  "env": {
    "server": {
      "plugins": ["system-import-transformer"]
    }
  }
}
